<section id="section-about" class="clearfix about">

    <div class="heading center">
        <h2 class="heading__title">Meet the Doctor</h2>
    </div>

    <div class="video-slab">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-push-2">
                    <iframe src="https://player.vimeo.com/video/231453460" width="640" height="360" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="main container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <h3 class="main__title center">Brian Henningsen, DDS</h3>
                <p class="main__copy">A Sonora local, Dr. Brian Henningsen and his team combine advanced dentistry with a
                    gentle, friendly style and a warm, inviting atmosphere that will make you and your family more
                    comfortable than you ever thought possible.</p>
                <p class="main__copy">Dr. DeFont received his dental degree from the University of the Pacific Arthur A.
                    Dugoni School of Dentistry and went on to complete his general practice residency at the Veteran’s
                    Hospital in Long Beach. His residency and continuing education has equipped him to provide the best
                    care for you and your family including oral surgery, implant placement and restorations, conscious
                    sedation, Invisalign® “invisible” orthodontics, cosmetic dentures, and comprehensive family
                    care.</p>
                <p class="main__copy">When not in the office, Dr. DeFont enjoys spending time with his family and
                    friends. His hobbies include hiking, traveling, and snowboarding.</p>
                {% include 'molecules/associations__carousel.twig' %}
            </div>
        </div>
    </div>
    {# these are the icons on bottom #}

</section>

