<section id="section-about" class="clearfix about">

    <div class="heading">
        <div class="container center">
            <h2 class="heading__title">Meet the Doctor</h2>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <img src="/assets/team/dr-henningsen.jpg" alt="{{ mainDoctor }} - Cosmetic, Implant, Sedation, and General Dentistry">
                </div>
                <div class="col-sm-7">
                    <div class="column">
                        <h3 class="main__name">Brian L. Henningsen, <span class="main__name--title">DMD</span></h3>
                        <p class="main__copy hidden-sm">Dr. Brian Henningsen and his team combine advanced dentistry with a gentle, friendly style that will make you and your family feel right at home. Dr. Henningsen earned his dental degree from the University of Nebraska Medical Center College of Dentistry in 1981 after graduating from the Westminster College.</p>
                        <p class="main__copy">Dr. Henningsen has been practicing dentistry in Jefferson City since 1985. He believes in relationship dentistry, and takes the time to get to know each patient one-on-one, helping them make informed decisions about their dental health.
                         <!-- Button trigger modal -->
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#henningsenModal">READ MORE</button>
                        </p>
                        <!-- Modal -->
                        <div class="modal fade" id="henningsenModal" tabindex="-1" role="dialog" aria-labelledby="henningsenModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button>
                                        <h4 class="modal-title" id="henningsenModalLabel">Dr. Brian Henningsen</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Dr. Brian Henningsen and his team combine advanced dentistry with a gentle, friendly style that will make you and your family feel right at home. Dr. Henningsen earned his dental degree from the University of Nebraska Medical Center College of Dentistry in 1981 after graduating from the Westminster College.</p>

                                        <p>Dr. Henningsen has been practicing dentistry in Jefferson City since 1985. He believes in relationship dentistry, and takes the time to get to know each patient one-on-one, helping them make informed decisions about their dental health.</p>

                                        <p>In his free time, he enjoys spending time with his wife and two sons. He also enjoys hunting and fishing on his farm. In addition, he takes the time to volunteer at the local Samaritan Center.  </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% include 'molecules/associations__carousel.twig' %}
 
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>