<section id="section-forms">
    <div class="container center">
        <div class="heading">
            <h2 class="heading__title">New Patient Forms</h2>
        </div>
        <p class="forms__copy">Click here if you have already scheduled your new patient exam and need to provide our practice with your health&nbsp;history&nbsp;information.</p>
        <div class="forms__btn-wrapper">
            <div class="row">
                <div class="column column__left">
                    <a href="http://defontfamilydental.com/pdfs/patient_registration.pdf" target="_blank" class="btn btn--style-three forms-btn">New Patient Registration</a>
                </div>
                <div class="column column__left">
                    <a href="http://defontfamilydental.com/pdfs/instructions-for-mouth-care-after-surgery.pdf" target="_blank" class="btn btn--style-three forms-btn">AFTER CARE INSTRUCTIONS</a>
                </div>
            </div>
            <div class="row">
                <div class="column column__right">
                    <a href="http://defontfamilydental.com/pdfs/health_history_set.pdf" target="_blank" class="btn btn--style-three forms-btn">Dental Health History</a>
                </div>
                <div class="column column__right">
                    <a href="http://defontfamilydental.com/pdfs/INSTRUCTIONS-FOR-SEDATION.pdf" target="_blank" class="btn btn--style-three forms-btn">SEDATION INSTRUCTIONS</a>
                </div>
            </div>
        </div>
        <p class="heading__copy">Adobe Acrobat is required to view forms. If you have trouble seeing the forms or need accommodation, please contact our office. <a href="https://get.adobe.com/reader/" class="adobe" target="_blank">Click here to download</a> the Acrobat software.</p>
    </div>
</section>
