<section id="section-insurance">
    <div class="flexbox-wrapper">
        <div class="container">
            <div class="row hidden-sm hidden-md hidden-lg">
                <img src="/assets/insurance-mobile.jpg" alt="{{ mainDoctor }}'s happy patients" class="insurance__image mobile-insurance">
            </div>
            <h2 class="title">No Insurance?</h2>
            <h3 class="sub-title">Our patients don’t need it!</h3>
            <h3 class="preventative-care">Get your preventive care for a low monthly fee.</h3>
            <p class="insurance__copy"> &nbsp; • &nbsp;Exclusively for our uninsured patients.</p>
            <p class="insurance__copy hidden-xs"> &nbsp; • &nbsp;Make easy monthly payments for your preventive care.</p>
            <p class="insurance__copy hidden-sm hidden-md hidden-lg"> &nbsp; • &nbsp;Make easy monthly payments</p>
            <p class="insurance__copy insurance__copy--last"> &nbsp; • &nbsp;Save money on your treatment.</p>
            <a class="btn btn--style-two"  href="{{ insuranceLink }}" target="_blank">Learn More</a>
        </div>
    </div>
    <img src="/assets/insurance.jpg" alt="{{ mainDoctor }}'s happy patients" class="insurance__image hidden-xs">
</section>