<section id="section-services">

    <div class="feature">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/services/smile-makeovers.jpg" alt="Smile Makeovers" class="feature__image">
                    <h3 class="feature__title">Smile Makeovers</h3>
                    <p class="feature__copy">Cosmetic dentistry is one of the most cost-effective ways to improve your appearance. A beautiful, bright, healthy smile can increase self confidence and overall life satisfaction. Cosmetic dentistry can encompass things such as tooth-colored fillings, dental implants, or crowns. We have many options, so please call us for a free cosmetic consultation.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/services/implant-dentistry.jpg" alt="Implant Dentistry" class="feature__image">
                    <h3 class="feature__title">Implant Dentistry</h3>
                    <p class="feature__copy">Dental implants are a great option for replacing missing teeth, improving chewing ability, eliminating bridges, and replacing dentures. Several implants may provide a base for a series of artificial teeth known as a fixed bridge. Implants can even be used to secure a full set of removable dentures for people who have no natural teeth.</p></div>
                <div class="col-sm-4">
                    <img src="/assets/services/sedation-dentistry.jpg" alt="Sedation Dentistry" class="feature__image">
                    <h3 class="feature__title">Sedation Dentistry</h3>
                    <p class="feature__copy">Sedation dentistry is an excellent treatment for patients with extensive dental needs, or who are concerned about anxiety, difficulty getting numb, or sensitive teeth.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="heading center container">
            <h2 class="heading__title">More Services</h2>
            <p class="heading__copy">Select a link to learn more about our services.</p>
        </div>

        <div class="container">
            <div class="row">
                {% for service in services %}
                <div class="col-sm-6 col-md-3 card" data-target="#modal--{{ service.modalTarget }}" data-toggle="modal"><img src="/assets/services/{{ service.image }}.jpg" alt="{{ service.titleFull }}" class="card__image">
                    <div class="card__text">
                        <h5 class="card__title">{{ service.title }}</h5>
                        <p class="card__link">Learn More</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'molecules/services__modals.twig' %}

</section>