.section-care-credit-slab {
  background-color: #e7fcff;
  padding: 30px 0;
  text-align: center;

  .care-credit-slab {
    &__title {
      margin-bottom: 0;
      color: #48c6da;
      font-family: $ff-mont;
      font-weight: 900;
    }

    &__copy {
      margin-bottom: 0;
      font-style: italic;
      color: #4e4e4e;
      font-family: $ff-open;
      font-size: 20px;
    }

    &__logo {
      margin: 15px;
    }

    &__btn {
      margin: 15px;
      border: solid 2px #48c6da;
    }
  }
}
