a.btn,
button.btn {
  font-family: $ff-lato;
  // font-weight: 700 !important;
  background-color: #e7462e;
  color: #fff;
  border: solid 2px #fff;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 0;
  // box-shadow: 0 3px rgba(179, 77, 6, 1);

  @include font-size(17px, 16px, 16px, 15px, 15px);

  &:hover,
  &:focus {
    background-color: lighten(#ff7a10, 10%);
    color: #fff;
    // box-shadow: 0 3px rgba(179, 77, 6, 1);
    transition: all 0.3s ease;
    text-decoration: none;
  }

  &.btn--style-two {
    background: none;
    background-color: #7dbc3a;
    font-family: $ff-lato;
    box-shadow: 0 3px #457613;

    @include font-size(16px, 16px, 15px, 14px, 13px);

    &:hover,
    &:focus {
      background-color: darken(#7dbc3a, 7%);
      // box-shadow: 0 3px #457613;
    }
  }

  &.btn--style-three {
    background-image: none;
    background-color: #fff;
    color: #3ec1d5;
    // box-shadow: 0 3px rgba(25, 50, 82, 1);

    @include font-size(16px, 16px, 14px, 14px, 14px);

    &:hover,
    &:focus {
      background-color: lighten(#304d73, 15%);
      // box-shadow: 0 3px rgba(25, 50, 82, 1);
    }
  }

  &.shadowed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &.form-btn {
    width: 100%;
  }
}
