.location-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //background: $c-white;
  //margin: 30px 0;
  // padding-top: 30px;
  //padding-bottom: 30px;

  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0;
    padding-right: 0;
  }

  &__logo {
    &--wrapper {
      //background-color: #323437;
      text-align: center;
      // padding-top: 90px;
      padding-bottom: 20px;

      @media (max-width: $width-md) {
        background: none;
      }
    }
    // max-height: 200px;
    width: 421px;
  }

  &__content {
    text-align: center;
  }

  &__doctor {
    color: #2e4a6f;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $ff-raleway;

    @include font-size(24px, 24px, 28px, 26px, 25px);

    &--title {
      color: #2e4a6f !important;
      font-weight: 700;

      @include font-size(20px, 20px, 24px, 22px, 21px);
    }
  }

  &__address {
    color: #000;
    font-size: 20px;
    margin-top: 20px;
    font-family: $ff-open;
    font-weight: 400;
  }

  &__map-link {
    color: #25a1b2;
    text-decoration: underline;
    font-size: 20px;
    // letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: $ff-lato;
    font-weight: 400;
  }

  &__new-patient-text {
    color: #000;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1;
    font-family: $ff-open;
    letter-spacing: -0.97px;
  }

  &__new-patient-number {
    display: block;
    font-weight: 900;
    color: #2e4a6f;
    font-family: $ff-lato;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1;

    @include font-size(40px, 40px, 36px, 36px, 32px);

    &:hover {
      color: #345a75;
      text-decoration: none;
    }
  }

  &__existing-patient-text {
    color: #2f1d0f;
    margin-top: 15px;
    line-height: 1;
    font-family: $ff-open;

    @include font-size(18px, 18px, 17px, 16px, 16px);
  }

  &__existing-patient-number {
    color: #000;
    font-family: $ff-open;

    @include font-size(18px, 18px, 17px, 16px, 16px);

    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  &__welcoming-patients {
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: -0.93px;
  }

  .hours-table {
    padding-bottom: 35px;
    padding-top: 20px;

    h5 {
      line-height: 1;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 24px;
      color: #2e4a6f;
      font-family: $ff-lato;
    }

    p {
      color: #444;
      line-height: 1;
      margin: 0 auto;
      font-family: $ff-open;
    }
  }
}
