<div class="associations-carousel">
    {# <div class="container"> #}
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="/assets/logos/_0002_ada.jpg" alt="ADA"></div>
                <div class="logo--wrapper"><img src="/assets/logos/_0001_aacd.jpg" alt="AACD"></div>
                <div class="logo--wrapper"><img src="/assets/logos/_0000_mda.jpg" alt="MDA"></div>
            </div>
        </div>
    {# </div> #}
</div>
