<div class="associations-carousel">
    {#<div class="container">#}
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="/assets/association/_0000_ada.jpg" alt="American Dental Association"></div>
                <div class="logo--wrapper"><img src="/assets/association/_0001_sjds.jpg" alt="San Juan Dental Society"></div>
                <div class="logo--wrapper"><img src="/assets/association/_0002_cda.jpg" alt="CDA"></div>
                <div class="logo--wrapper"><img src="/assets/association/_0003_agd.jpg" alt="Academy of General Dentistry"></div>
            </div>
        </div>
    {#</div>#}
</div>
