<div class="owl-carousel js-tour-carousel">
    <div>
        <img src="/assets/tour/thumb1.jpg" alt="Outside the office">
    </div>
    <div>
        <img src="/assets/tour/thumb2.jpg" alt="Front Desk">
    </div>
    <div>
        <img src="/assets/tour/thumb3.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/thumb4.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/thumb5.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/thumb6.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/thumb7.jpg" alt="The inside of our rooms">
    </div>
</div>