#section-insurance {
  $c-no-insurance: #48c6da;
  $c-sub-header: #4c4c4c;
  $c-preventative: #ea5034;
  $c-copy: #575757;
  $c-mobile-bg: #fff;

  background-color: #fff;
  position: relative;

  .title {
    letter-spacing: 0;
    padding-top: 30px;
    margin-bottom: 0;
    line-height: 1;
    color: $c-no-insurance;
    font-weight: 900;

    @include font-size(82px, 60px, 48px, 50px, 36px);
  }

  .sub-title {
    font-weight: 400;
    color: $c-sub-header;
    margin-bottom: 0;
    font-family: $ff-open;

    @include font-size(44px, 30px, 24px, 30px, 30px);
  }

  .preventative-care {
    font-weight: 700;
    line-height: 1.2;
    color: $c-preventative;
    letter-spacing: -0.24px;
    margin-bottom: 0;
    font-family: $ff-lato;
    padding-top: 5px;
    padding-bottom: 20px;

    @media (min-width: 991px) {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    @include font-size(26px, 21px, 16px, 16px, 16px);
  }

  .insurance__copy {
    color: $c-copy;
    list-style-type: circle;
    margin-bottom: 10px;
    line-height: 1.2;

    @include font-size(18px, 17px, 15px, 16px, 14px);

    @media (min-width: 768px) {
      text-align: left;
      padding-top: 0;

      &--last {
        margin-bottom: 0;
      }
    }
  }

  .insurance__image {
    @media (min-width: 768px) {
      width: 100%;
    }
  }

  .insurance-btn {
    padding: 10px 30px;
    margin: 20px 0;
  }

  .mobile-insurance {
    padding: 20px;
  }

  .flexbox-wrapper {
    text-align: left;

    @media (min-width: 768px) {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
