#slider {
  height: 36.45833vw !important;

  .swiper-slide {
    > img {
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }

  .slide1-svg-text {
    width: 400px;
    padding-left: 20px;

    @media (min-width: 1200px) {
      width: 1000px;
      margin-left: -40px;
      padding-left: 20px;
    }
  }

  .slide1 {
    .flex-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
    }

    .welcoming__text {
      color: #2e4a6f;
      text-align: right;
      line-height: 1.3;
      margin-bottom: 0;
      padding-right: 15px;
      font-family: $ff-lato;
    }
  }

  .slide2 {
    .slide__image {
      padding-bottom: 20px;
    }
  }

  .slide3 {
    .slide__image {
      width: 100%;
      padding-bottom: 20px;
    }
  }

  .slide4 {
    .slide__image {
      padding-bottom: 20px;
    }
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}
