#slider {
  height: 36.45833vw !important;

  .swiper-slide {
    > img {
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }

  .slide1 {
    .flex-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
    }

    .welcoming__text {
      color: #2e4a6f;
      text-align: right;
      line-height: 1.3;
      margin-bottom: 0;
      padding-right: 15px;
      font-family: $ff-lato;
    }
  }

  .slide2 {
    .slide__image {
      padding-bottom: 20px;
    }

    .btn {
      margin-left: 15px;
    }
  }

  .slide3 {
    .slide__image {
      padding-bottom: 20px;
    }
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}
