#section-services {
  .right-align {
    text-align: right;
  }

  .card__link {
    text-decoration: underline !important;
    font-style: italic;
    color: #f06223;
    margin-bottom: 0;
    text-align: right;
    font-size: 17px;

    @include font-size(17px, 16px, 14px, 15px, 14px);
  }

  .card__text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 10px 0;
  }

  .feature {
    background-color: #fff;
    padding-top: 20px;

    &__title {
      color: #076dad;
      font-family: $ff-raleway;
      font-weight: 900;
      margin-bottom: 0;
      letter-spacing: 1.5px;
      padding-left: 5px;

      @include font-size(22px, 19px, 16px, 22px, 20px);
    }
  }

  .main {
    padding-bottom: 30px;
  }

  .card {
    margin-bottom: 20px;

    &__title {
      color: #076dad;
      font-weight: 900;
      font-family: $ff-raleway;
      line-height: 1;
      margin-bottom: 0;
      letter-spacing: 1.5px;
      padding-left: 5px;

      @include font-size(22px, 19px, 22px, 22px, 20px);
    }
  }
}
